.forms1 {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
}


.report_image_size{
   width: 100px;
    height: 100px;
}