.nav-link:hover{
    background-color: black;
    color: white;
}

.nav-link{
    background-color: white;
    color:black;
}

.dropdown-item:hover{
    background-color: black;
    color: white;
}

.dropdown-item{
    background-color: white;
    color:black;
}

